@font-face {
  font-family: 'mademirage';
  src: url(".././font/MADE Mirage Black PERSONAL USE.otf");
}

@font-face {
  font-family: 'madetommy-regular';
  src: url(".././font/MADE Tommy Soft Regular PERSONAL USE.otf");
}

@font-face {
  font-family: 'madetommy-bold';
  src: url(".././font/MADE Tommy Soft Bold PERSONAL USE.otf");
}

body{
  background-color: #1c1c1c;
  color: #FFFFFF;
  font-family: 'madetommy-regular' !important;
}

body.background{
  background: url('.././img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: auto;
}

.primeraimagen{
background: url('.././img/photo3.png');
background-attachment: fixed;
background-repeat: no-repeat;
background-position: bottom;
background-size: cover;
padding: 2%;
width: 100%;
}

h1{
  letter-spacing: 0.2em;
  font-size: 50px !important;
  font-family: 'mademirage' !important;
}

h3{
  font-family: 'madetommy-bold' !important;
}

.contenedor-texto{
  padding: 2%;
  font-size: 1.5em;
}

.contenedor-texto strong{
    color: #DDD000;
    font-family: 'madetommy-bold' !important;
    font-size: 1.5em;
}

a.nav-link:link{
  font-family: 'madetommy-bold' !important;
  font-size: 1.5em;
  color: #FFFFFF;
}

a.nav-link:active,
a.activo:link,
a.activo:visited,
a.nav-link:hover{
  color: #DDD000;
}

a:visited{
  color: #FFFFFF;
}
